# Python Essentials II

Today, we will continue exploring foundational Python concepts:

* Data Structures: Sequences and Collections
* Functions

Friendly reminders:

* DataCamp modules for Functions and Packages; Logic, Control Flow, and Filtering; and Loops are due tonight by 11:59 p.m.
* Homework #1 released, due Feb. 13

In [13]:
#enumerate funtion
my_list = ['apple', 'banana', 'grapes', 'pear']
print(list(enumerate(my_list,0)))#enumerate makes it indexed,but need to be listed and can be printed out
counter_list = list(enumerate(my_list, 1))
print(counter_list)

[(0, 'apple'), (1, 'banana'), (2, 'grapes'), (3, 'pear')]
[(1, 'apple'), (2, 'banana'), (3, 'grapes'), (4, 'pear')]

## Data Structures

There are many types of data structures in Python. Each type has some distinction from all others, but there is some overlapping functionality across multiple types. It is helpful to think about the core data structures in terms of two categories:

* Sequences are ordered data structures, and include types such as lists, tuples, and NumPy arrays (later), and also strings. Lists are mutable, whereas tuples are immutable.
* Collections are unordered data structures, and include types such as sets and dictionaries. Both dictionaries and sets are mutable.

The various types can be nested. For example, you can create lists of lists, lists of tuples, sets of tuples, etc., depending on your need. In addition, they are all (functionally) iterable. There are variations on many of these structures that we will not discuss, but for most applications, these types will be sufficient.

### Sequences

#### Creation, Assignment, and Deletion

In [14]:
# Lists are created using []
L = [1,'two',3]
L

[1, 'two', 3]

In [16]:
d={'1','cool','interesting'}
print(d)
print(list(d))

set(['1', 'interesting', 'cool'])
['1', 'interesting', 'cool']

In [17]:
# Lists are mutable, so we can update with assignment
L[2] = 4
L

[1, 'two', 4]

In [18]:
L.append(7)
L

[1, 'two', 4, 7]

In [19]:
# Or, delete
del L[2]
print(L)
L = [1, 'two', 4] # Reset L

[1, 'two', 7]

In [20]:
# Tuples are created using ()
T = (1,2,3)
T

(1, 2, 3)

In [21]:
# You can also create tuples using comma separate values
T = 1,2,3
T

(1, 2, 3)

In [22]:
for one in T:
    print(one)

1
2
3

In [23]:
for one in L:
    print(one)

1
two
4

In [47]:
#YOU CAN NOT ITERATE LIKE THIS

In [24]:
# You can unpack items from a sequence into individual variables
for one, two in T:
    print(one, two)

TypeError: 'int' object is not iterable

In [46]:
for one,two ,three in L:
    print(one,two,three)

TypeError: 'int' object is not iterable

In [31]:
for one,two ,three in T:
    print(one,two,three)

TypeError: 'int' object is not iterable

In [25]:
# You can unpack items from a sequence into individual variables
one, two, three = T
print(one, two, three)
print(one)
print(two)
print(three)

(1, 2, 3)
1
2
3

#### Membership

Testing for membership allows you to determine whether a specific item is contained in a sequence or collection. The keyword for testing for membership is **in**.

In [26]:
3 in L

False

In [27]:
3 in T

True

#### Indexing and Slicing

Indexing means to access a specific item in a sequence. You can index into a sequence using [ ].

Remember, **Python is zero-indexed**, meaning that index 0 corresponds to the first item in a sequence, 1 to the second item, and so on. The index of the last item in a sequence of length *n* is *n-1*. Negative indices are also valid, and are equivalent to *n-i*, where *-i* is the desired index.

In [28]:
L

[1, 'two', 4]

In [29]:
# Indexing
L[1]

'two'

In [32]:
# Negative indices
L[-2]==L[1]

True

Slicing means to access a range of items in a sequence. Similar to indexing, we use [ ], but for slicing we use the : operator(s). For any slicing operation, the default expression is [start=0:stop=*n*:step=1], where *n* is the length of the sequence. Any input (i.e., start, stop, or step) that is not explicitly stated will assume the default value.

In [43]:
#TUPLE CAN BE SCLIED

In [33]:
# Slicing - All items
T[:]

(1, 2, 3)

In [34]:
# Slicing - All items
T[::]

(1, 2, 3)

In [35]:
# Slicing - Range of items
T[1:3]

(2, 3)

In [38]:
# Slicing - Multiple step size
T[::2]#

(1, 3)

In [41]:
tuple=(1,2,3,4,5,6,7)
tuple

(1, 2, 3, 4, 5, 6, 7)

In [43]:
tuple[::3]#show every 3 results

(1, 4, 7)

In [44]:
# Slicing - Negative step size#? 
T[2::-1]

(3, 2, 1)

In [45]:
tuple[2::-1]

(3, 2, 1)

#### Concatenation and Replication

Similar to strings, sequences support concatenation (+) and replication (*).

In [58]:
L + L

[1, 'two', 4, 1, 'two', 4]

In [59]:
L*2

[1, 'two', 4, 1, 'two', 4]

In [60]:
T+T+T

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [61]:
T * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

#### Casting

In [55]:
tuple(L)

TypeError: 'tuple' object is not callable

In [57]:
list(T)

[1, 2, 3]

#### Other Common Sequence Methods

In [62]:
# Length
len(L)

3

In [63]:
len(T)

3

In [64]:
# Min, max, sum
print('Min:', min(T))
print('Max:', max(T))
print('Sum:', sum(T))

('Min:', 1)
('Max:', 3)
('Sum:', 6)

In [65]:
print(L)
print('Min:', min(L))
print('Max:', max(L))#???

[1, 'two', 4]
('Min:', 1)
('Max:', 'two')

In [66]:
# Any and all
B = [True, False, False]
print('Any:', any(B))#any&all: check if any or all of the values are True (or "truthy")
print('All:', all(B))

('Any:', True)
('All:', False)

#### Sequence Functions and Generators

There are several standard functions for generating or modifying sequences. Many of these functions create **iterators**, which are essentially objects that return each item of a sequence one at a time, instead of storing the entire sequence in memory. As expected, iterators support iteration. They can also be cast to a sequence.

In [67]:
# Range function - Similar syntax as slicing (:) operator, returns a list-like object
ra = range(0,10,2)
ra

[0, 2, 4, 6, 8]

In [68]:
# List-like behavior of range object
print(len(ra))
print(ra[3])
print(ra[1:4])
print(list(ra))

5
6
[2, 4, 6]
[0, 2, 4, 6, 8]

In [69]:
# Enumerate - Generates a list of (index, value) tuples, returns an iterator
en = enumerate(L)
en

In [71]:
print(list(en))

[(0, 1), (1, 'two'), (2, 4)]

In [73]:
# Zip - Generates a list of paired tuples, returns an iterator
zi = zip(L, T)
zi

[(1, 1), ('two', 2), (4, 3)]

In [74]:
# Reversed - Returns the items from a sequence in reverse order, returns an iterator
rev = reversed(T)
rev
print(list(rev))

[3, 2, 1]

In [75]:
# Sorted - Returns a sorted copy of the list
import numpy as np
R = list(np.random.randint(0,10,10))
print(R, sorted(R, key=None, reverse=True))

([2, 8, 8, 0, 0, 5, 5, 7, 7, 0], [8, 8, 7, 7, 5, 5, 2, 0, 0, 0])

In [ ]:

print(sorted())

In [80]:
# All of the previous objects are iterable - range, enumerator, zip, reversed, sorted
iter_obj = ra
for item in iter_obj:
    print(item)

0
2
4
6
8

#### List Methods

The lists is probably the most versatile data structure in Python. There are many list-specific methods that we can utilize:

* L.append(x): Appends an object x to the end of L (in place)
* L.extend(M): Appends each element of M to the end of L (in place)
* L.count(x): Count occurrences of x in L
* L.index(x): Returns smallest index i where L[i] == x 
* L.insert(i,x): Inserts x at index i (in place)
* L.pop([i]): Returns the ith element of L and removes; if i is omitted, the last element is popped
* L.remove(x): Removes the first instance of x from L  
* L.reverse(): Reverses items of L (in place)
* L.sort(): Sorts (in ascending order) items of L (in place)

In [97]:
L

[1, 4, 6, 10, 100, 10, 112]

In [80]:
# Append#add as the end of a list
L.append(6)
L

[1, 'two', 4, 6, 6]

In [81]:
# Extend #add to the end of a list
L.extend([10,112])
L

[1, 'two', 4, 6, 6, 10, 112]

In [82]:
# Count
L.count(10)

1

In [83]:
# Index
L.index(10)#the first apparance

5

In [84]:
# Insert
L.insert(0,100)
L

[100, 1, 'two', 4, 6, 6, 10, 112]

In [85]:
# Pop
print(L.pop(), L)#after delete the last of the list

(112, [100, 1, 'two', 4, 6, 6, 10])

In [86]:
# Remove
L.remove(100)
L#only remove the first appearnce

[1, 'two', 4, 6, 6, 10]

In [87]:
# Reverse
L.reverse()
L

[10, 6, 6, 4, 'two', 1]

In [88]:
# Sort
L.sort(key=None, reverse=False)
L

[1, 4, 6, 6, 10, 'two']

### Collections

#### Sets

We will not use sets very often, but they are useful for evaluating and comparing membership. The **set** casting function is also a quick way to determine the unique elements in a sequence.

In [89]:
# Sets are created using {} or set(sequence)
S = {1,4,5,6,6,8} # or set([1,4,5,6,6,8])
S

{1, 4, 5, 6, 8}

In [90]:
# Sets are unordered, they do not support indexing#tuple ,list can be indexed
S[1]

TypeError: 'set' object does not support indexing

In [91]:
L[1]

4

In [92]:
T[1]

2

In [93]:
# Sets are mutable
S.add(9)
S

{1, 4, 5, 6, 8, 9}

In [96]:
# Testing for membership
7 in S

False

In [98]:
# Set operations - .union (|), .intersect (&), .difference (-), .symmetric_difference (^)
op = '^'
T = set(range(1,10,2))
print(T)
eval('S' + op + 'T')

set([1, 3, 9, 5, 7])

{3, 4, 6, 7, 8}

In [99]:
# Sets are also iterable, even though they are unordered
for x in S:
    print(x)

1
4
5
6
8
9

#### Dictionaries

In addition to lists, dictionaries are also very commonly used. A dictionary is an unordered collection of key:value pairs. Keys must be immutable, such as a scalar (e.g., int, float, string, date/time) or immutable sequence (e.g., tuple). Values can be any Python object.

Items in the dictionary are accessed via the keys, as opposed to an index as in a sequence.

In [110]:
# Create dictionary - Comma separated list of key:value pairs in {}
D = {1:'a', 2:'b', 3:'c', 4:'d', 5:'e'}
D

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [100]:
# Create dictionary - Using dict and zip functions
print(zip(range(1,6), 'abcde'))#zip makes tuple
D = dict(zip(range(1,6), 'abcde'))#dict makes tuple dict
D

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [101]:
# Indexing - Input key, return value
D[3]

'c'

In [103]:
# Alternative indexing - .get method
D.get(30, 'There are only 26 letters')#if the key in the dict, return value, ifnot, return the string behand.

'There are only 26 letters'

In [104]:
D

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [105]:
# Dictionaries are mutable - Update via assignment
D[6] = 'f'
D

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f'}

In [106]:
# Deletion works too
del D[6]
D

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [118]:
# Dictionaries have length
len(D)

5

In [107]:
# Access keys
D.keys()

[1, 2, 3, 4, 5]

In [108]:
# Access values
D.values()

['a', 'b', 'c', 'd', 'e']

In [109]:
# Access items
D.items()#items return tuple in list

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [110]:
# Although not technically iterable (because they are unordered), you can iterate over the keys
for key in D: # D.keys() works too#default is iterate keys
    print(D[key])#return value

a
b
c
d
e

In [111]:
# Or, the items
for key, item in D.items():
    print(key, item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [112]:
# Explore dictionary methods using tab completion
D.

SyntaxError: invalid syntax (<ipython-input-112-e7ab27f00753>, line 2)

### Comprehensions and Generator Expressions

**Comprehensions** and **generator expressions** are convenient ways of generating one iterable from another (they do not have to be the same type). These statements are an excellent example of what the text refers to as *syntactic sugar*, which means that it is a very convenient and concise way of writing code (I call this Pythonic). You should consider using a comprehension or generator expression in place of createing an iterable using a **for** loop. They are much more efficient!

The basic idea is that you can create an iterable by looping through another iterable. The primary syntax follows the same logic as the initial statement in a **for** loop:

*expr* **for** item **in** iterable

where *expr* represents what you want to return for each item in the new iterable. You can return the item as is, or a function of the item (e.g., computation, transformation, etc.). Although you can use comprehensions and generator expressions to perform computation, this is not their primary use. You should use NumPy arrays for computation, as they are designed specifically for that purpose.

You can also add conditions for whether you want to include a specific item in your new iterable. 

*expr* **for** item **in** iterable **if** *cond*

where *cond* is a boolean object, most often returned by a specific comparison (e.g., **if** item < 10).

You can also created nested comprehensions and generator expressions

*expr* **for** item1 **in** iterable1 **for** item2 **in** iterable2 **if** *cond1* **if** *cond2*

You can also leverage functions such as **range**, **enumerate**, **zip**, **reversed**, and **sorted** to form your iterables.

The type of iterable that you create depends on the specific syntax:

* List comprehensions are created using [ ]
* Set comprehensions are created using { }, where *expr* is anything other than a key:value pair
* Dictionary comprehensions are created using { }, where *expr* is a key:value pair
* Generator expressions are created using ( ), which create generators that only produce one item at a time using the .next() method. Once a generator has been iterated through, it is exhausted (whereas iterables can be iterated through multiple times).

In [1]:
%%time#how long the entire line take#count time entire sell take
# Traditional list construction
L = [] # empty list
for x in range(10):
    L.append(x)
L

CPU times: user 10 µs, sys: 5 µs, total: 15 µs
Wall time: 17.2 µs

In [6]:
%time#how long single line take
# Traditional list construction
L = [] # empty list
for x in range(10):
    L.append(x)
L

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 5.01 µs

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
# List comprehension
%time 
[x for x in range(10)]

CPU times: user 2 µs, sys: 2 µs, total: 4 µs
Wall time: 8.11 µs

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# List comprehension with conditional
%time 
[x for x in range(10) if x % 2 == 0]

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 4.05 µs

[0, 2, 4, 6, 8]

In [5]:
# Combine list comprehension with ternary expression
[x if x % 2 == 0 else 0 for x in range(10)]

[0, 0, 2, 0, 4, 0, 6, 0, 8, 0]

In [7]:
# Nested list comprehension
[(a, b, (a ** 2 + b ** 2) ** 0.5) for a in range(1,6) for b in range(1,6)]

[(1, 1, 1.4142135623730951),
 (1, 2, 2.23606797749979),
 (1, 3, 3.1622776601683795),
 (1, 4, 4.123105625617661),
 (1, 5, 5.0990195135927845),
 (2, 1, 2.23606797749979),
 (2, 2, 2.8284271247461903),
 (2, 3, 3.605551275463989),
 (2, 4, 4.47213595499958),
 (2, 5, 5.385164807134504),
 (3, 1, 3.1622776601683795),
 (3, 2, 3.605551275463989),
 (3, 3, 4.242640687119285),
 (3, 4, 5.0),
 (3, 5, 5.830951894845301),
 (4, 1, 4.123105625617661),
 (4, 2, 4.47213595499958),
 (4, 3, 5.0),
 (4, 4, 5.656854249492381),
 (4, 5, 6.4031242374328485),
 (5, 1, 5.0990195135927845),
 (5, 2, 5.385164807134504),
 (5, 3, 5.830951894845301),
 (5, 4, 6.4031242374328485),
 (5, 5, 7.0710678118654755)]

In [8]:
# Set comprehension
{x for x in range(5)}

{0, 1, 2, 3, 4}

In [9]:
# Dictionary comprehension
{key:value for key,value in zip(range(1,6), 'abcde')}

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [11]:
# Generator expression
G = (x for x in range(100))
G

<generator object <genexpr> at 0x10cdfabe0>

In [47]:
# .next method
next(G)#everytime it get the other

1

In [50]:
next(G)
next(G)
next(G)

7

In [51]:
next(G)

8

In [52]:
# Generators as iterables
sum([x for x in G])

4914

In [53]:
# Generator exhaustion
next(G)#Generator expressions are created using ( ), which create generators that only produce one item at a time using the .next() method. Once a generator has been iterated through,
#it is exhausted (whereas iterables can be iterated through multiple times).

StopIteration:

## Functions

Functions are essentially blocks of code that you can reference by name. You should define functions for steps that you anticipate using multiple times. If you only perform a series of steps once or twice, you probably do not need to define a function. Functions may also be used as inputs to other functions (e.g., mapping, sorting).

Functions are created using the **def** statement, following the same indented code structure as a conditional or a loop.

```
def func_name(inputs):
    statements
    [return object(s)] # optional
```

Functions can receive any number of inputs (zero and up) and return any number of outputs (zero and up). Inputs can be entered in order (*positional*) or entered by referencing the specific name of the argument (*keyword*). Inputs can be required (i.e., the function will return an exception if the input is not supplied) or optional (i.e., the function will still work if the input is not supplied). Default values must be assigned for optional inputs. 

Functions that do not return any objects may print results, generate visualizations, save results to a file, or modify objects via reference (see Pass By Reference subsection below).

In [123]:
# Define function that does not return a result
def add(x, y):
    print(x + y)

add(5,10) # positional arguments

15

In [124]:
# Define function that returns a result
def add(x, y):
    return x + y

res = add(y=10,x=5) # keyword arguments#no matter order
res

15

In [78]:
# Define function with default values
def add(x=0, y=0):
    return x + y

# Test cases
print('No inputs:', add())
print('Positional input:', add(1))
print('Keyword input:', add(y=5))
print('All inputs:', add(1,2), add(x=1, y=2), add(y=2, x=1)) # All cases, x = 1, y = 2

('No inputs:', 0)
('Positional input:', 1)
('Keyword input:', 5)
('All inputs:', 3, 3, 3)

In [ ]:
# Define function with multiple outputs
def add(x=0, y=0):
    return (x, y), x + y

add(5,10)

### Functions vs. Methods

For our purposes, functions and object methods are essentially the same...

* One or more bundled steps performed on some input object(s)
* In some cases, there will be a function and an object method that do the same thing (e.g., sum)

...BUT, they sometimes differ in how they are used.

* Functions are called on zero or more objects and may return result(s) that can be assigned to a variable
* Object methods are called by an object (and the calling object is often input to the method), which can either update the calling object or return result(s) that can be assigned to a variable

In Python, most functions are still methods of a particular module (library).

In [125]:
# Function approach to summing an array
import numpy as np
arr = np.arange(10)
np.sum(arr)

45

In [126]:
# Method approach to summing an array
arr.sum()

45

### Global vs. Local Variables

When working with functions, you should be very aware of which variables are defined within global and local scopes. **Global variables** are defined throughout your notebook or script, and are accessible within functions even if they have not been input or defined within the function. **Local variables** are either input to the function, or defined within the function. They do not exist outside of the function. Be very careful if you use the same variable name globally and locally, unexpected things can happen!

In [ ]:
# Define function with local variable
def add_to_y(x):
    y = 5
    
    return x + y

In [ ]:
y

In [ ]:
# Define function that utilizes global variable
w = 10
def add_to_w(x):
    return x + w

add_to_w(5)

### Pass By Reference

Objects that are input to functions are **passed by reference**, which means there is a possibility that the object will be modified by the function. Be very careful when passing mutable objects to functions, unexpected things can happen! Use the **copy** module to create a copy of a mutable object if you do not want the original object to be modified by the function.

In [127]:
# Define function to append a number to a list
def append_num(L, num):
    L.append(num)

In [128]:
# Test case
num = 5
N = [1,2,3]
append_num(N, num)
N

[1, 2, 3, 5]

In [141]:
print(L)
print(num)

[1, 4, 6, 6, 10, 'two']
5

In [153]:
# Use copy module
import copy
def append_num(L, num):
    return copy.copy(L) + [num]
append_num(L,num)

[1, 4, 6, 6, 10, 'two', 5]

In [154]:
print(L)

[1, 4, 6, 6, 10, 'two']

### shadow copy and deep copy

Shallow copies duplicate as little as possible. A shallow copy of a collection is a copy of the collection structure, not the elements. With a shallow copy, two collections now share the individual elements.

Deep copies duplicate everything. A deep copy of a collection is two collections with all of the elements in the original collection duplicated.

In short, it depends on what points to what. In a shallow copy, object B points to object A's location in memory. In deep copy, all things in object A's memory location get copied to object B's memory location.

In [149]:
#Try copy.copy or copy.deepcopy for the general case. Not all objects can be copied, but most can.
li=[1, 4, 6, 6, 10, 'two', 5]
print(li)
import copy
newobj1 = copy.copy(li) # shallow copy
newobj2 = copy.deepcopy(li) # deep (recursive) copy
#Some objects can be copied more easily. Dictionaries have a copy method:
print(newobj1)

[1, 4, 6, 6, 10, 'two', 5]
[1, 4, 6, 6, 10, 'two', 5]

In [152]:
#dictionary has a copy method,so can use .copy()
#newdict = olddict.copy()
Sequences can be copied by slicing:

new_list = L[:]
#You can also use the list, tuple, dict, and set functions to copy the corresponding objects, 
#and to convert between different sequence types:

new_list = list(L) # copy
new_dict = dict(olddict) # copy

new_set = set(L) # convert list to set
new_tuple = tuple(L) # convert list to tuple

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [133]:
colours1 = ["red", "green"]
colours2 = colours1
colours2 = ["rouge", "vert"]
print(colours1)

['red', 'green']

In [134]:
colours1 = ["red", "green"]
colours2[1] = 'blue'
print(colours1)

['red', 'green']

In [ ]:
# if one of the elements of a sublist will be changed: Both the content of lst1 and lst2 are changed.

In [137]:
lst1 = ['a','b',['ab','ba']]
lst2 = lst1[:]
lst2[0] = 'c'
print(lst2)
print(lst1)#only change one will not change
lst2[2][1] = 'd'
print(lst2)
print(lst1)#change the subset will change both
#['a', 'b', ['ab', 'd']]

['c', 'b', ['ab', 'ba']]
['a', 'b', ['ab', 'ba']]
['c', 'b', ['ab', 'd']]
['a', 'b', ['ab', 'd']]

In [ ]:
#this problem can be solved by:

In [139]:
from copy import deepcopy

lst1 = ['a','b',['ab','ba']]

lst2 = deepcopy(lst1)

lst2[2][1] = "d"
lst2[0] = "c";

print lst2
print lst1

#If we save this script under the name of deep_copy.py 
#and if we call the script with "python deep_copy.py", we will receive the following output:

['c', 'b', ['ab', 'd']]
['a', 'b', ['ab', 'ba']]

In [130]:
# Test case
num = 5
N = [1,2,3]
print(N, append_num(N, num))

([1, 2, 3], [1, 2, 3, 5])

### Lambda Functions

Lambda functions are essentially lightweight functions that you can write in a single line. They are very useful when using a simple function as an input to another function. They can be assigned to a variable or input directly.

In [115]:
# Define lambda function
lf = lambda s: s.split(' ')[1] # Split string using ' ' as delimiter, return second item from resultant list
lf

In [117]:
lf('I love coding')

'love'

In [118]:
# Sort list of names by last name
names = ['George Washington', 'John Adams', 'Thomas Jefferson', 'James Madison', 'James Monroe']
sorted(names, key=lf)#sorted funtion can add the second function to be used as index

['John Adams',
 'Thomas Jefferson',
 'James Madison',
 'James Monroe',
 'George Washington']

In [122]:
sorted(names,reverse=False)

['George Washington',
 'James Madison',
 'James Monroe',
 'John Adams',
 'Thomas Jefferson']

In [120]:
sorted(names,reverse=True)

['Thomas Jefferson',
 'John Adams',
 'James Monroe',
 'James Madison',
 'George Washington']

In [119]:
# Return last name only
[last for last in map(lf, names)]#map is applying a funtion to a list

['Washington', 'Adams', 'Jefferson', 'Madison', 'Monroe']

## Python Essentials Wrap Up

This concludes our initial coverage of foundational Python concepts, which will be complemented by what you are learning via DataCamp. For the purposes of this course, you should consider these constructs as tools in your toolbox for processing and analyzing data:

* Comments and **print** statements
* Importing modules
* Variable assignment
* Data structures: scalars, sequences, and collections
* Indexing, selection, and filtering
* Computation and comparisons
* Control flow: conditionals and loops
* Functions

## Next Time: Python Essentials Lab